@charset "UTF-8";
/* CSS Document */

 html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 20%;
      }
@font-face {
    font-family: 'ponsirounded_slabregular';
    src: url('PonsRoundedSlab-Regular-webfont.eot');
    src: url('PonsRoundedSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PonsRoundedSlab-Regular-webfont.woff') format('woff'),
         url('PonsRoundedSlab-Regular-webfont.ttf') format('truetype'),
         url('PonsRoundedSlab-Regular-webfont.svg#ponsirounded_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.navfont{
font-family: 'ponsirounded_slabregular', Georgia, geserif;
}

.headimage { 
	background: #0f4abd url('../images/slides_01.jpg') bottom center no-repeat;
	min-height:453px;
	padding-top:200px;
}

body.work .headimage{
	background: #0f3ab2 url('../images/Slides2.jpg') bottom center no-repeat;
}

.pinimage{
	background: #0f3ab2 url('../images/slides2.jpg') bottom center no-repeat;
	height:877px;
}

.fullspan{
	width:100% !important;
	max-width:100% !important;
}
 .liucenter{
	margin: 0 auto;
	width:1100px;
	padding-right:380px;
 }
 
 .greybk{
	background: #ccc;
 }
.container{
	padding-left:150px;
	padding-right:150px;
}
 .container h2{
    color:#fff;
	
 }
 
 p{
	font-family: 'Merriweather', sans-serif;
	font-style: italic;
	font-weight: 400;
	color: #000000;
	line-height: 1.3em;
	font-size: 18px;
 }
 
 .textonwhite p{
	font-size: 36px;
	line-height: 1.3em;
	margin-top: 20px;
margin-bottom: 10px;
 }
 
 .textonwhite h2{
	color:#444;
 }
 .row{
	padding:30px;
 }
 
 .thumbpic{
   padding:10px !important;
 }
 .container .textonwhite h2{
	color: #333333;
 }
 .cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    z-index: 10000;
    height: 230px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
 
.cbp-af-header .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em;
}
 
.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}
 
 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 230px;
}
 
.cbp-af-header h1 {
    text-transform: uppercase;
    color: #333;
    letter-spacing: 4px;
    font-size: 4em;
    margin: 0;
    float: left;
}
 
.cbp-af-header nav {
    float: right;
}
 
.cbp-af-header nav a {
    color: #aaa;
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.4em;
}
 
.cbp-af-header nav a:hover {
    color: #333;
}
 
/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
 
.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
	background: #464646;
}
 
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 90px;
}
 
.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}
 
/* Example Media Queries */
@media screen and (max-width: 55em) {
     
    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
 
    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 115px;
    }
 
    .cbp-af-header nav a {
        margin: 0 10px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }
 
    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }
 
    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
}
 
@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
}